@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slideIn 0.4s ease-out;
}
